*{
  margin: 0px;
  padding: 0px;
}

body{
  background: #282828;
}

.header{
  color: #ebdbb2;
  text-align: center;
  margin: 10px auto;
  font-size: 25px;
  text-decoration: underline;
}

main{
}

main h2{
  color: #ebdbb2;
}

main .edit{
  border: none;
  border-radius: 5px;
  background-color: green; 
}
